/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.move-down {
    margin-bottom: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.contact-form-design{
    background-color: rgba(255, 255, 255, 1); border-radius: 5px; box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 1); padding:50px;
    position: absolute;
    width: 50% !important;
    top: 15%;
    right: 25%;
}

.contact-form-design h2, .contact-form-design  label{
    color:#4c4c4c;
    font-weight: bold;
}

.contact-form-design .contact-form-input{
    height: 50px;
}

.contact-form-design .contact-form-submit{
    height: 50px; width:100px; margin-top:10px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}