body{
    background-color: #f5f5f5;
}

.padding-right-none{
    padding-right: 0;
}

.about-section{
    padding: 150px 0;
    box-shadow: 0px 2px 20px 3px rgba(0,0,0,0.5);
    z-index: 1;
}

.contact-section{
    padding: 10%;background-color: white;box-shadow: 1px 6px 20px 0px rgba(0,0,0,0.1);
}

.animate{
    opacity: 0;
    transition: opacity 1.5s .25s ease-out;
    will-change: opacity;
}

.animate.is-visible{
    opacity: 1;
}

.flex-container {
    line-height: 30px;
    padding:0 30px;
    margin:0;
    color: #fff;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.flex-item {
    align-self: center;
    margin: 0 1.6em;
}

.facebook-btn{
    background-color:#3379b788; color:white;
}

.facebook-btn:hover{
    background-color:#3379b7; color:white;
    transition: .5s;
}

.google-btn{
    background-color:#d9544f8a; color:white;
}

.google-btn:hover{
    transition: .5s;
    background-color:#d9534f; color:white;
}

.twiter-btn{
    background-color:#5bc0de83; color:white;
}

.twiter-btn:hover{
    transition: .5s;
    background-color:#5bc0de; color:white;
}

.social-btn{
    height: 80px;
width: 80px;
padding: 15px;
margin: 0;
border-radius: 5px;
text-align: center;
vertical-align: middle;
cursor: pointer;
}

.validation-error{
    border:1px solid red !important;
}