@media screen and (max-width:700px){
    #booking.section{
        height: 164vh;
    }

    .section .section-center{
        top:43%;
    }

    .booking-cta{
        word-break: break-word;
    }

    .about-section .container > .row{
        margin-left: 0;
        margin-right:0;
    }

    .img-mobile-align{
        margin: 0 0 20px 0;
        text-align: center;
    }

    .contact-section{
        padding: 10% 0;
    }

    .contact-form-design{
        padding:20px;
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
        top:20px;
        left: 0;
        right: 0;
    }
}